<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StockAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="StockLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StockAnalyzer.Properties.Settings>
            <setting name="EventFilterMode" serializeAs="String">
                <value>EventAll</value>
            </setting>
            <setting name="IndicatorSARAccelerationStep" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="IndicatorSARFastSwingFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IndicatorBBMAPeriod" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IndicatorBBExponential" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndicatorBBCoef" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HilbertWaveInputType" serializeAs="String">
                <value>Data</value>
            </setting>
            <setting name="HilbertWaveInputData" serializeAs="String">
                <value>CLOSE</value>
            </setting>
        </StockAnalyzer.Properties.Settings>
        <StockLib.Properties.Settings>
            <setting name="EventFilterMode" serializeAs="String">
                <value>EventAll</value>
            </setting>
            <setting name="IndicatorSARAccelerationStep" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="IndicatorSARFastSwingFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IndicatorBBMAPeriod" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="IndicatorBBExponential" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndicatorBBCoef" serializeAs="String">
                <value>2</value>
            </setting>
        </StockLib.Properties.Settings>
    </userSettings>
</configuration>