<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StockAnalyzerSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <StockAnalyzerSettings.Properties.Settings>
            <setting name="EventFilterMode" serializeAs="String">
                <value>EventAll</value>
            </setting>
            <setting name="InputDataFolder" serializeAs="String">
                <value>Data</value>
            </setting>
            <setting name="AnalysisFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="SelectedGroup" serializeAs="String">
                <value>INDICES</value>
            </setting>
            <setting name="ShowSummaryOrders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOrders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDrawings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowEventMarquee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedEvents" serializeAs="String">
                <value/>
            </setting>
            <setting name="EventMarquees" serializeAs="String">
                <value/>
            </setting>
            <setting name="EventMarqueeMode" serializeAs="String">
                <value>EventAll</value>
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="RootFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="DownloadStartDate" serializeAs="String">
                <value>2012-01-01</value>
            </setting>
            <setting name="BarType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SupportIntraday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GenerateBreadth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeToolbarLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="StockToolbarLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="drawingToolbarLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="CustomColors" serializeAs="String">
                <value>16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215,16777215</value>
            </setting>
            <setting name="LoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="MachineID" serializeAs="String">
                <value/>
            </setting>
            <setting name="DrawingPen" serializeAs="String">
                <value>1:255:0:0:0:Solid</value>
            </setting>
            <setting name="ShowVariation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultBarNumber" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShowCommentMarquee" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserEMail" serializeAs="String">
                <value>david.carbonel@free.fr</value>
            </setting>
            <setting name="UserSMTP" serializeAs="String">
                <value>smtp.free.fr</value>
            </setting>
            <setting name="SupportShortSelling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StrategyStartDate" serializeAs="String">
                <value>2011-01-03</value>
            </setting>
            <setting name="PortfolioValue" serializeAs="String">
                <value>16000</value>
            </setting>
            <setting name="MomentumIndicator" serializeAs="String">
                <value>ROC(120,1)</value>
            </setting>
            <setting name="RaiseAlerts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertsFrequency" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ShowIndicatorDiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateDailyReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowIndicatorText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAgenda" serializeAs="String">
                <value/>
            </setting>
        </StockAnalyzerSettings.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
