<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for WPF 2022.3.1109" value="C:\Users\David\AppData\Roaming\Telerik\Updates\Telerik_UI_for_WPF_2022_3_1109_Dev_Hotfix\Binaries\WPF70\NuGet" />
    <add key="Telerik UI for WPF Telerik.UI.for.Wpf.70.Xaml.2023.1.117" value="C:\Users\David\AppData\Roaming\Telerik\Updates\Telerik_UI_for_WPF_2023_1_117_Dev_Hotfix\Binaries\WPF70\NuGet" />
  </packageSources>
</configuration>